h1{
    color:#ffff;
    position: fixed;
    top:10px;
    z-index: 2;
    font-size:18px
}
h2{
    font-size:18px;
    color:rebeccapurple;
}

.ant-layout-sider-children {
    position: fixed;
  }
  main{
      margin:0;
  }
.ant-breadcrumb{
    background: #001529;
    height: 50px;
    position: fixed;
    width: 100%;
    line-height: 50px;
    color:#fff;
    z-index: 2;
}
img{
    width:100px
}
Input{
    margin-top:5px;
    height:45px
}
.ant-layout-sider-children{
    overflow-y: auto;
}
.ant-layout-sider-children::-webkit-scrollbar { width: 0 !important }
p{
    color:black;
    width: 500px;
}
body::-webkit-scrollbar { width: 0 !important }
label{
    color:black
}
.ant-popover{
    width: 120px;
  }
/* .ant-layout-content div:nth-child(2){
    padding: 0;
    background-image: url(http://img.netbian.com/file/newc/820aa9a35bafb649deadcf705ee7b262.jpg);
} */
.ant-layout-content{
    background: #fff;
}